.main-footer {
    padding-top: 11px;
    padding-bottom: 4px;
    background-color: red;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFF;
  }
  
  .footer-icons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  
  .footer-icons > * {
    margin-right: 5px;
  }